@model  STO.Domain.Entities.TotalPrice
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool addService = true;
}
@helper AddRow(string name, object value, bool shift = true)
    {
        var styleName = shift ? "col-6 col-md-4" : "col-6 col-md-4 ml-3";
        var styleValue = shift ? "col-6 col-md-4 ml-3" : "col-6 col-md-4 mr-3";

        <div class="row">
            <div class="@styleName">@name</div>
            <div class="@styleValue">@value</div>
        </div>
}

<h2>Краткая информация</h2>
@AddRow("Номер автомобиля:", @Model.Car.Number)
@AddRow("Тип автомобиля:", @Model.Car.TypeCar.Name)
@AddRow("Дата:", @Model.Date)
@AddRow("Общая стоймось:", @Model.Total)
@AddRow("Состояние автомобиля:", @Model.AvgState)
@AddRow("Услуги:", null)

@{
    foreach (var item in @Model.CalculateCost)
    {
        if (!item.TypeService.Service.IsAddService)
        {
            @AddRow(@item.TypeService.Service.Name, @item.State, false)
        }
        else
        {
            if (addService)
            {
                addService = false;
                @AddRow("Дополнительные услуги:", null)
            }
            @AddRow(@item.TypeService.Service.Name, @item.TypeService.Service.Cost, false)
        }
    }
}





