@model  STO.Domain.Entities.TotalPrice


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<h2>Details</h2>
<div class="row">
    <div class="col-6 col-md-4">
        Номер автомобиля:
    </div>
    <div class="col-6 col-md-4 ml-3">@Model.Car.Number</div>
</div>
<div class="row">
    <div class="col-6 col-md-4">
        Тип автомобиля:
    </div>
    <div class="col-6 col-md-4 ml-3">@Model.Car.TypeCar.Name</div>
</div>
<div class="row">
    <div class="col-6 col-md-4">
        Дата:
    </div>
    <div class="col-6 col-md-4 ml-3">@Model.Date</div>
</div>

<div class="row">
    <div class="col-6 col-md-4">
        Общая стоймось:
    </div>
    <div class="col-6 col-md-4 ml-3">@Model.Total</div>
</div>

<div class="row">
    <div class="col-6 col-md-4">
        Состояние автомобиля:
    </div>
    <div class="col-6 col-md-4 ml-3">@Model.AvgState</div>
</div>

<div class="row">
    <div class="col-6 col-md-4">
        Услуги:
    </div>
</div>
@{
    foreach (STO.Domain.Entities.CalculateCost item in @Model.CalculateCost)
    {
        if (!item.TypeService.Service.IsAddService)
        {
            <div class="row">
                <div class="col-6 col-md-4 ml-3">
                    @item.TypeService.Service.Name
                </div>
                <div class="col-6 col-md-4 mr-3">@item.State</div>
            </div>
        }
        else
        {
            if (i == 0)
            {
                i++;
                <div class="row">
                    <div class="col-6 col-md-4">
                        Дополнительные услуги:
                    </div>
                </div>
            }
            <div class="row ">
                <div class="col-6 col-md-4 ml-3">
                    @item.TypeService.Service.Name
                </div>
                <div class="col-6 col-md-4 mr-3">@item.TypeService.Service.Cost</div>
            </div>
        }
    }
}





