@model  IEnumerable<STO.Domain.Entities.TotalPrice>

<nav class="nav-sidebar">
    <ul class="nav tabs">
        @foreach (var item in Model)
        {
            <li >
                @*@Html.ActionLink(@item.Car.Number, "Details", "Navigation", new { id = @item.Id }, null);*@
                @Html.RouteLink(@item.Car.Number.ToString(), new
           {
               controller = "Navigation",
               action = "Details",
               id = @item.Id
           }, new { data_toggle = "tab" })
            </li>
        }
    </ul>
</nav>
