@model STO.Domain.Entities.TypeCar
@using STO.Domain.Entities

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новая тип транспортного стредства</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Название")
    <br />
    @Html.EditorFor(model => model.Name)
    <br /><br />
    @Html.LabelFor(model => model.TypeServices, "Состоит из:")
    <br />
    @ foreach (TypeService service in Model.TypeServices)
    {
        @Html.C
    }

    @Html.EditorFor(model => model.TypeServices)

    <br /><br />
    <input type="submit" value="Добавить" />
}