@using STO.Domain.Entities
@model  List<TypeCar>

@{
    ViewBag.Title = "Home Page";
}
@using STO.WebUI.Resources.View

<div class="form-group" id="baseControls">
    <label class="control-label col-md-2" for="TypeCar">@DetailsRes.CarType</label>
    <div class="col-md-10">
        <select class="form-control text-right" id="TypeCar" name="TypeCar">
            @foreach (var item in Model)
            {
                <option value="@Url.Action(item.UrlForm, "Car", null, Request.Url.Scheme)">@item.Name</option>
            }
        </select>

        @*@Html.DropDownList("TypeCar", Model, new { @class = "form-control text-right" })*@
    </div>
</div>

<div id="typeCar"></div>
@*@Html.Partial("Forms/BusFormView")*@

@section scripts{
    @Scripts.Render("~/scripts/Custom/Validation.js")
    @Scripts.Render("~/scripts/Custom/TypeCar.js")
}

