<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                One of 2 columns
            </div>
            <div class="col-sm-8">
                @RenderBody()
            </div>
            <div class="col-sm-2">
                @{Html.RenderAction("PViewTotalPrice", "Navigation"); }
                @*@{Html.Action("PViewTotalPrice", "Navigation"); }*@
                Action
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
