<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        @*<div class="card-header">
            @{Html.RenderAction("Language", "Navigation"); }
        </div>*@
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-2 col-md-2">
                One of 2 columns
            </div>
            <div class="col-7 col-md-7">
                @RenderBody()
            </div>
            <div class="col-3 col-md-3 sidebar-offcanvasі">               
            @*@{Html.RenderAction("PViewTotalPrice", "Navigation"); }*@
            @*@{Html.Action("PViewTotalPrice", "Navigation"); }*@
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
